
<h2>@ViewBag.Title</h2>


<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    <tr>
        <td>@ViewBag.Customer.ID</td>
        <td>@ViewBag.Customer.Name</td>
    </tr>
</table>
